@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 243 243 243;

        --color-secondary: 102 96 251;
        --color-secondary-light: 124 117 250;
        --color-secondary-lighter: 233 237 252;

        --color-darkgray: 63 63 63;
    }
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.shipment-tracking-icon {
    margin-left: -2.75rem;
    @apply absolute bg-gray-400 p-2.5 rounded-full;
}

.shipment-tracking-icon.completed {
    margin-left: -2.75rem;
    @apply absolute bg-secondary p-2.5 rounded-full;
}
